<div class="alert alert-warning alert-dismissible fade show" role="alert" id="alert-message">
  <%= notice %>
</div>
<script>
  setTimeout(() => {
    alertMess = document.getElementById("alert-message");
    alertMess.style.display = "none"
    // alertMess.style.display = "block"
  }, 2000)
</script>
